.container {
   display: flex;
   align-items: center;
   background-color: #161717;
   border-radius: 20px;
   padding: 10px 16px;
   width: 460px;
 }
 
 .icon {
   margin-right: 10px;
 }
 
 .input {
   background: transparent;
   border: none;
   outline: none;
   color: white;
   width: 100%;
   font-size: 16px;
 }
 
 .input::placeholder {
   color: #545454;
 }
 